@charset "utf-8";

body {
    background-color: green;
}

table {
    background-color: lightgreen;
}

table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

caption {
    color: white;
}

.captop {
  font-size: 1.8em;
}

#mypic {
    border: 3px solid green;
}

img {
    border: 1px solid black;
}

a {
    background-image: linear-gradient(
      to right,
      green,
      green 50%,
      #000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  a:before {
    content: '';
    background: green;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  a:hover {
   background-position: 0;
  }
  
  a:hover::before {
    width:100%;
  }